
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
html
{
    scroll-behavior: smooth;
}
*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* font-family: 'Cabin', sans-serif; */
    font-family: 'Figtree', sans-serif;
    color: black;
    border: none;
    
    --charte1_1 : #BDD9F2;
    --charte1_2 : #0597F2;
    --charte1_3 : #77C3F2;
    --charte1_4 : #05AFF2;
    --charte1_5 : #D8EBF2;

    --charte2_1 : #0597F2;
    --charte2_2 : #c8c7c7;
    --charte2_3 : #BF3604;
    --charte2_4 : #ff5d22;
    --charte2_5 : #0D0D0D;

     

}

body>div
{
    font-size: 28px;
    font-weight: bold;
    color: black;
    background-color: white;
    position: fixed;
    bottom:  0;
    left: 0;
    z-index: 999;
}



/**************
    HEADER 

**************/
header
{
    position: fixed;
    
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    
    /* display: none; */
    transition: 0.5s;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 99;
}
header>nav
{
    /* border: 1px white solid; */
    left: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0%;
    margin: 10px 0 0 10px;
}
header>nav>a
{
    color: white;
    font-size: 1.5em;
    padding: 8px 20px;
    border-radius: 10px;
}
#navHeader>a:hover
{
    background-color: black;
    border-radius: 100px;
}
header>img
{
    display: none;
}


/**************
    MAIN
**************/

/*couverture*/
#couverture
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-image: url(images/fonds/fond_header.jpg);
    
    /* backdrop-filter: blur(1px); */
    /* filter: blur(1); */
    background-size: cover;
    background-position: top;
}

#couverture>article
{
    position: absolute;
    right: 50px;
    bottom: 120px;
    border-radius: 20px;
    text-align: right;
    /* background-size: 100%; */
    /* backdrop-filter: blur(15px); */
}
#couverture>article>h1
{
    color: white;
    font-size: 3em;
    margin: 10px 0;
}
#couverture>article>h2
{
    color: white;
    font-size: 2em;
    margin: 10px 0;
    
}
#couverture>a>button
{
    position: absolute;
    right: 50px;
    bottom: 50px;
    padding: 15px 30px; 
    color: white;
    background-color: var(--charte2_4);
    /* transform: translate(-50%, -50%); */
    /* border: solid 3px black; */
    
    font-size: 1.5em;
    
    border-radius: 10px;
    /* transition: 0.05s; */
    /* transition: 0.2s; */
}
#couverture>a>button:hover
{
    background-color: black;
    color: white;
    border: solid 2px var(--charte2_4);
    /* padding: 25px 40px;
    right: 40px;
    bottom: 40px; 
    border-radius: 20px;*/
    right: 48px;
    bottom: 48px;
    
}






/* A propos*/

#aPropos
{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aPropos>article
{
    width: 50%;
    max-width: 800px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
#aPropos>article>h2
{
    text-align: center;
    font-size: 3em;
    color: black;
}
#presentation
{
    margin-top: 50px;
    display: flex;
    align-items: center ;
    width: 100%;
}
#presentation>img
{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border: 4px solid var(--charte2_4);
    
}
#presentation>p
{
    padding-left: 70px;
    text-align: justify;
    line-height: 25px;
    font-size: 1.05em;
}
#presentation>p>a
{
    font-size: 1.1em;
    color: var(--charte2_4);
    text-decoration: underline;
}

#btnPresentation
{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#btnPresentation>a
{
    padding: 0;
    margin: 25px 20px 0 20px;
}
#btnPresentation>a:hover
{
    margin: 25px 18px -4px 18px;

}
#btnPresentation>a>button
{
    padding: 15px 30px;
    background-color: var(--charte2_4);
    border-radius: 10px;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
}
#btnPresentation>a>button:hover
{
    background-color: white;
    border: 2px solid black;
    color: black;

}








/* actuellement*/
#actuellement
{
    background-image: url(./images/fonds/fond_actuellment.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 300px;
}
#actuellement>article
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#actuellement>article>h2
{
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 50px;
    color: var(--charte2_4);
}
#actuellement>article>p
{
    font-size: 1.5em;
    line-height: 50px;
    text-align: center;
    color: white;
}




/* competences*/

#mesCompetences
{
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 50px 0 50px 0;
}



#mesCompetences>h2
{
    font-size: 2.5em;
    text-align: center;
    color: black;
    padding: 25px 0 0 0;
}
#mesCompetences>p
{
    text-align: center;
    font-size: 1.2em;
    padding: 0 0 50px 0;
    
}
#mesCompetences>h3
{
    font-size: 1.5em;
    text-align: center;
}

#artComp1,#artComp2
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#System>p
{
    position: absolute;
    color: black;
    margin-bottom: -18%;
    font-size: 1.5em;
}
#Front-end>p, #Back-end>p
{
    position: absolute;
    color: black;
    margin-bottom: -18%;
    font-size: 1.5em;
}
#Front-end, #Back-end, #System
{
    width: 40%;
    margin: 50px 2% 50px 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#Back-end>img, #Front-end>img, #System>img
{
    width: 40%;
    cursor: pointer;
    transition: transform 1s;
    z-index: 5;
    background-color: white;
    border: 6px solid var(--charte2_4);
    padding: 2px;
    border-radius: 100%;
}



.premDiv
{
    width: 35%;
    margin: 0 5% 0 0;
    transform: translate(150%) scale(0.3); 
}
.secDiv
{
    width: 35%;
    margin: 0 0 0 5%;
    transform: translate(-150%) scale(0.3);
}


#Front-end>div>ul, #Back-end>div>ul, #System>div>ul
{
    list-style: none;
}
.secDiv>ul>li
{
    line-height: 3em;
    font-size: 1.8em;
    text-align: left;
}
.premDiv>ul>li
{
    line-height: 3em;
    font-size: 1.8em;
    text-align: right;
}

.haut
{
    transform: rotate(10deg);
}
.bas
{
    transform: rotate(-10deg);
}
.midhaut
{
    transform: rotate(5deg);
}
.midbas
{
    transform: rotate(-5deg);
}










/*citation*/
#citation
{
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(./images/fonds/fond_noir.jpg);
    /* filter: brightness(10%); */
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    /* background-attachment:fixed; */
}
#citation>article
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}
#citation>article>q
{
    color: white;
    line-height: 2em;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
}

#citation>article>h3
{
    color: var(--charte2_4);
    margin-top: 15px;
    font-size: 2em;
    margin: 40px 0 0 0;
    font-weight: bold;
}




/*PROJETS*/

#projets
{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}
#projets>h2
{
    font-size: 2.5em;
    margin: 20px 0;
    color: black;
}
#projets>p
{
    font-size: 1.1em;
    width: 40%;
}
#nav
{
    padding: 80px 0 20px 0;
    /* background-color: var(--charte2_5); */
    border-radius: 20px;
    border-spacing: none;
}
.btnNav
{
    background-color: white;
    width: 180px;
    padding: 8px 10px;
    margin: 0 -2px 0 -2px;
    cursor: pointer;
    /* border-radius: 25px; */
    font-size: 1.3em;
    color: black;
    font-weight: bold;
    /* border: solid 2px black; */
    /* transition: 0.2s; */
    
}




#btnNav1
{
    color: white;
    background: black;
    border-radius: 100px;
}








.comp
{
    display: none;
    
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-top: 20px;
}

#comp1
{
    display: flex;
}



.comp>h3
{
    font-size: 1.6em;
    margin-bottom: 20px;
    color: var(--charte2_4);
}

.comp>div
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 25px;
    width: 100%;
}

.descProj
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center ;
    /* border:solid 1px var(--charte2_5); */
    padding: 30px 30px 80px 30px;
    width: 35%;
    margin: 0 2%;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;

}
.descProj>h3
{
    color: black;
    font-size: 1.5em;
    margin-bottom: 20px;
}


.desc
{
    display: flex;
    align-items: center;
    width: 100%;
}
.desc>img
{
    width: 40%;
    object-fit: contain;
    border-radius: 25px;
    border: 5px solid var(--charte2_4);
    margin: 10px 5%;
}

.desc>p
{
    text-align: justify;
    width: 46%;
    margin: 10px 2%;
}

.compInfo
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 10px 0 0 5%;
    column-gap: 0%; 
}
.compInfo>p
{
    text-align: left;
    padding: 10px 0;
}

.appCrit
{
    text-align: left;
    width: 90%;
    margin: 10px 0 0 5%;
}
.appCrit>h4
{
    margin-top: 10px;
    font-size: 1.25em;
    line-height: 2.5em;
}


.descProj>a
{
    position: absolute;
    bottom: 0;
    margin: 20px;
}


.descProj>a>button
{
    background-color: var(--charte2_4);
    color: white;
    padding: 10px 15px;
    width: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: 0s;
    
}

.descProj>a>button:hover
{
    background-color: rgb(231, 231, 231);
    color: black;
    border: 1px solid black;
}



.descProj>button
{
    position: absolute;
    bottom: 0;

    background-color: var(--charte2_4);
    color: white;
    padding: 10px 15px;
    width: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: 0s;
    margin: 20px;
}

.comp>div>div>button:hover
{
    background-color: rgb(231, 231, 231);
    color: black;
    border: 1px solid black;
}




/******************
       Footer
******************/



footer
{
    /* background-color: ; */
    width: 100%;
    background-color: var(--charte2_5);
    margin-top: 50px;
}
footer *
{
    color: white;

}
footer>div
{
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer>div>div
{
    margin: 20px 0;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
}
footer>div>div>a
{
    margin: 10px 20px;
    padding: 10px;
}
footer>div>div>a:hover
{
    background-color: var(--charte2_4);
    border-radius: 10px;
}
footer>div>div>a>img
{
    width: 60px;
    color: white;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}
#imgF1
{
    border-radius: 40px;
}
footer>p
{
    padding: 20px 0 20px 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid white;
}






/******************
    Media queries
******************/




    
    /* .btnNav
    {
        font-size: 1em;
        width: 140px;
        
    } */

  /*modif:
    projets, header, couverture, polices, nav, 
    */
/*sur du mobile, afficher le menu sous forme de liste déroulante*/

/* @media screen and (min-aspect-ratio: 16/9)
{
    #couverture>a>button
    {
        top: 85%;
    }
} */
@media (max-width: 1400px) 
{
    header>nav>a:hover
    {
        background-color: black;
        border-radius: 100px;
    }
    /*couverture*/
    #couverture>a>button
    {
        font-size: 1.2em;
    }
}
@media (max-width: 800px) and (min-width: 501px) 
{
    header
    {
        background-color: rgba(0, 0, 0, 1);
    }
    header>nav
    {
        left: 50%;
        transform: translate(-50%);
        flex-direction: row;
        margin: 0;
        top: auto;
        justify-content: space-around;
        width: 100%;
    }
    header>nav>a
    {
        padding: 8px 10px;
    }
    /*couverture*/
    #couverture
    {
        height: 50vh;
        
    }
    #couverture>article
    {
        right: 30px;
        bottom: 51vh;
        text-align: center;
        white-space: nowrap;
        text-align: right;
    }
    #couverture>a>button
    {
        display: none;
    }
}
@media (max-width: 800px) and (min-width: 501px)  and (max-height:501px)
{
    
}
@media (max-width: 500px) 
{
    header
    {
        background-color: rgba(0, 0, 0, 0);
    }
    /*header*/
    header>img
    {
        position: fixed;
        top: 12px;
        right: 12px;
        display: block;
        width: 50px;
        border-radius: 100%;
        background-color: white;
        padding: 2px;
    }
    header>nav
    {
        display: none;
    }
    /*couverture*/

    #couverture
    {
        height: 50vh;
        
    }
    #couverture>article
    {
        right: 50%;
        bottom: 52vh;
        translate: 50%;
        text-align: center;
        white-space: nowrap;
    }
    #couverture>article>h1
    {
        font-size: 2em;
    }
    #couverture>article>h2
    {
        font-size: 1.5em;
    }

    #couverture>a>button
    {
        display: none;
    }

    /*A propos*/
    #aPropos>article
    {
        width: 80%;
        max-width: none;
    }
    #aPropos>article>h2
    {
        font-size: 1.8em;
        margin-top: -30px;
        margin-bottom: 15px;
    }
    #presentation
    {
        flex-direction: column;
        margin-top: 20px;
    }
    #presentation>p
    {
        padding-left: 0;
        font-size: 0.8em;
        margin-top: 20px;
    }
    #btnPresentation>a>button
    {
        font-size: 1em;
        padding: 8px 15px;
        width: 10em;
        margin: 20px 10px -20px 10px;
    }
    #btnPresentation>a>button:hover
    {
        margin: 20px 10px -20px 10px;
    }
    #btnPresentation>a>button:active
    {
        background-color: white;
        border: 2px solid black;
        color: black;
        margin: 18px 8px -22px 8px;
    }

    /*Actuellement*/

    #actuellement
    {
        height: 200px;
    }
    #actuellement>article>h2
    {
        font-size: 1.8em;
        margin-bottom: 20px;
    }
    #actuellement>article>p
    {
        font-size: 1em;
        line-height: 30px;
    }

    /*compétences*/
    #mesCompetences
    {
        padding: 20px 0;
    }
    #mesCompetences>h2
    {
        font-size: 1.8em;
    }
    #mesCompetences>p
    {
        margin-top: 10px;
        padding-bottom: 20px;
        font-size: 1.1em;
        width: 80%;

    }
    #mesCompetences>h3
    {
        display: none;
    }
    #artComp1,#artComp2
    {
        flex-direction: column;
    }
    #Front-end, #Back-end, #System
    {
        width: 80%;
        margin: 30px;
    }
    #Back-end>img, #Front-end>img, #System>img
    {
        cursor: default;
        border: 4px solid var(--charte2_4);
        padding: none;
        width: 40%;
    }
    .premDiv
    {
        width: 30%;
        margin: 0;
        transform: translate(-10%); 
        text-align: right;
    }
    .secDiv
    {
        width: 30%;
        margin: 0;
        transform: translate(10%);
    }
    #Front-end>p, #Back-end>p, #System>p
    {
        font-size: 1.2em;
        margin-bottom: -40%;
    }
    .secDiv>ul>li
    {
        font-size: 1.2em;
        line-height: 2.5em;
    }
    .premDiv>ul>li
    {
        font-size: 1.2em;
        line-height: 2.5em;
    }
    .midG
    {
        transform: translate(-7%);
    }
    .midD
    {
        transform: translate(7%);
    }


    /*citation*/

    #citation
    {
        height: 200px;
    }
    #citation>article
    {
        width: 85%;
    }
    #citation>article>q
    {
        font-size: 1.1em;
        font-weight: normal;
        line-height: 1.5em;
    }

    #citation>article>h3
    {
        margin-top: 10px;
        font-size: 1.8em;
    }

    /*projets*/
    #projets
    {

    }

    #projets>h2
    {
        font-size: 1.8em;
    }
    #projets>p
    {
        font-size: 1em;
        width: 80%;
    }
    .descProj
    {
        width: 70%;
        margin: 2% 0;
    }


    .comp>div
    {
        flex-direction: column;
        width: 100%;
    }








    /*footer*/
    #typeContact
    {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 300px) 
{
    /*couverture*/
}

/**

header > img {
    position: fixed;
    top: 12px;
    right: 12px;
    display: block;
    width: 50px;
    border-radius: 100%;
    background-color: white;
    padding: 2px;
}



élément {
    display: block;
    position: fixed;
    top: 12px;
    right: 12px;
    width: 50px;
    border-radius: 100%;
    background: white none repeat scroll 0% 0%;
    padding: 2px;
}

élément {
    display: block;
    position: fixed;
    top: 12px;
    right: 12px;
    width: 50px;
    border-radius: 100%;
    background: white none repeat scroll 0% 0%;
    padding: 2px;
    transition: all 0.3s ease 0s;
    left: 50%;
    transform: translate(-50%);
    flex-direction: row;
    margin: 0px;
}

*/