*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
    --charte1_1 : #BDD9F2;
    --charte1_2 : #0597F2;
    --charte1_3 : #77C3F2;
    --charte1_4 : #05AFF2;
    --charte1_5 : #D8EBF2;

    --charte2_1 : #022340;
    --charte2_2 : #0788D9;
    --charte2_3 : #0568A6;
    --charte2_4 : #07B2D9;
    --charte2_5 : #07D9D9;

}

body>div
{
    font-size: 28px;
    font-weight: bold;
    color: black;
    background-color: white;
    position: fixed;
    top:  5%;
    left: 50%;
    transform: translate(-50%, -95%);

}
/* @media screen and (min-width:1000px) { */

/**************
    HEADER
**************/
header>a>section
{
    height: 100vh;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/fonds/fond_ciel.jpg);
    
    background-size: cover;
}

#PPheader
{
    border-radius: 100%;
    width: 300px;
    margin-bottom: 20px;
}

#PPheader:hover
{
    width: 350px;
    
}

header>a>section>div
{
    padding: 3px 20px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-radius: 20px;
    text-align: center;
    font-size: 18px;

}




/**************
    MAIN
**************/

#sec1
{
    height: 100vh;
    background-color: var(--charte1_5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*informations*/

#infos
{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#PPmain
{
    border-radius: 100%;
    height: 250px;
}
#infos>div
{
    display: flex;
    background-color: var(--charte1_1);
    width: 75%;
    border-radius: 20px;
    height: 250px;
    padding: 10px;
    margin-left: 10px;
}
#infos>div>div
{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#competences>div
{
    display: flex;
    flex-direction: row;
}
#competences>div>figure
{

    padding-right: 20px;
}



#infos>div>div>p
{
    line-height: 25px;
    text-align: left;
    margin-left: 30px;
    height: 50%;
}
#infos>div>div>p>a
{
    line-height: 10px;
    margin-left: 10px;
}

.icones
{
     margin-left: -25px;
    width: 15px;
}
.icones_comp
{
    height: 35px;
    width: 35px;
}



#presentation
{
    background-color: var(--charte1_3);
    padding: 20px;
    width: 80%;
    /* height: 200px; */
    border-radius: 20px;
    line-height: 25px;
}




/*PROJETS*/

#projets
{
    background-color: var(--charte1_5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projets>nav
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px 5%;
    padding: 10px;
    background-color: var(--charte1_4);
    border-radius: 35px;
    
}
#projets>nav>button
{
    background-color: var(--charte1_1);
    width: 10%;
    height: 40px;
    list-style: none;
    border-radius: 25px;
    font-size: 14px;
    color: black;
}

#projets>nav>button:active
{
    color: white;
}

#projets>h2
{
    margin-bottom: 30px;
}

#compVide
{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comp
{
    /* display: flex; */
    display: none;
    
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
    width: 80%;
    background-color: var(--charte1_3);
    border-radius: 30px;
}

.comp>div
{
    display: flex;
    justify-content: stretch;
    margin: 25px;
    width: 80%;
}
.comp>div>a>img
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.comp>div>div
{
    background-color: var(--charte1_1);
    border-radius: 20px;
    width: 80%;
}
.comp>div>div>p
{
    text-align: justify;
    width: 90%;
    margin: 10px 5%;
}
.liens
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 15px 5%;
}
.comp>div>div>div>strong>a
{
    text-decoration: underline;
    color: var(--charte1_2);

}


footer
{
    padding-top: 30px;
    text-align: center;
    background-color: var(--charte1_5);
}

/* } */

button
{
    background-color: var(--charte1_2);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s;
}

button:hover
{
    background-color: var(--charte1_4);
    color: black;
}













.popupForm
{
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--charte1_4);

    position: fixed;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    padding: 20px;
    width: 760px;
    height: 710px;

    border: solid black 1px;
    border-radius: 10px;
}

.topPopup
{
    color: White;
    text-shadow: 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black, -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black;
}

.croix
{
    position: absolute;
    top: 10px;
    right: 10px;
}
.centrePopup
{
    display: flex;
    margin-top: 20px;
    width: 760px;
    height: 600px;
    background-color: var(--charte1_1);
    border-radius: 20px;
}

/* .popupForm>div::-webkit-scrollbar
{
    display: none;
} */

.popGauche
{
    width: 44%;
    text-align: justify;
    margin: 0 3%;
    font-size: 1em;
}
.popGauche>img
{
    width: 100%;
    margin: 15px 0;
    border: solid 3px var(--charte1_4);
    border-radius: 15px;
}

.popDroite
{
    width: 44%;
    font-size: 16px;
    text-align: justify;
    margin: 0 3%;
}



ul, ol
{
    margin-left: 20px;
}

.btnBas
{
    margin: 7px;
    margin-bottom: -2px;
    width: 760px;
}
.popDroite>div
{
    margin: 20px 0;
}

.popDroite>div>h3
{
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0;
    text-align: start;
}


.popDroite>div>ul>li, .popDroite>div>p
{
    font-size: 1em;
}

