*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: none;
    
    --charte1_1 : #BDD9F2;
    --charte1_2 : #0597F2;
    --charte1_3 : #77C3F2;
    --charte1_4 : #05AFF2;
    --charte1_5 : #D8EBF2;

    --charte2_1 : #0597F2;
    --charte2_2 : #D9B504;
    --charte2_3 : #BF3604;
    --charte2_4 : #F2490C;
    --charte2_5 : #0D0D0D;

     

}

body>div
{
    font-size: 28px;
    font-weight: bold;
    color: black;
    background-color: white;
    position: fixed;
    top:  5%;
    left: 50%;
    transform: translate(-50%, -95%);

}



/**************
    HEADER 

**************/
header
{
    position: fixed;
    top: 0px;
    left: 15%;
    transform: translate(-15%);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}
header>nav
{
    border: 1px white solid;
}
header>nav>a
{
    color: white;
    font-size: 2em;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}


/**************
    MAIN
**************/

/*couverture*/
#couverture
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-image: url(images/fonds/fond_header.jpg);
    
    backdrop-filter: blur(15px);
    /* filter: blur(1); */
    background-size: cover;
}

#couverture>article
{
    padding: 3px 20px;
    border-radius: 20px;
    text-align: center;
     backdrop-filter: blur(15px);
}
#couverture>article>h1
{
    color: white;
    font-size: 40px;
    margin: 10px 60px;
}
#couverture>article>h2
{
    color: white;
    font-size: 24px;
    margin: 10px 60px;
}
#couverture>a>button
{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 20px; 
    background-color: var(--charte2_1);
    color: var(--charte2_5);
    font-size: 24px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}
#couverture>a>button:hover
{
    color: white;
    background-color: var(--charte2_5);
    padding: 15px 30px; 
    top: 69.5%;
    border-radius: 15px;
    
}






/* A propos*/

#aPropos
{
    background-color: white;
    width: 100%
}
#aPropos>article
{
    width: 40%;
    padding: 100px 30%;
    display: flex;
    flex-direction: column;
}
#aPropos>article>h2
{
    text-align: center;
    font-size: 2em;
}
#aPropos>article>div
{
    margin-top: 50px;
    display: flex;
}
#aPropos>article>div>img
{
    width: 200px;
    object-fit: contain;
    
}
#aPropos>article>div>p
{
    padding-left: 20px;
    text-align: justify;
    line-height: 25px;
    font-size: 1em;
}
#aPropos>article>div>p>a
{
    font-size: 1.1em;
    color: var(--charte2_3);
    text-decoration: underline;
}


/* actuellement*/
#actuellement
{
    background-image: url(./images/fonds/fond_actuellment.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 400px;
}
#actuellement>article
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#actuellement>article>h2
{
    font-size: 2em;
    margin-bottom: 80px;
    color: white;
}
#actuellement>article>p
{
    font-size: 1.5em;
    line-height: 50px;
    text-align: center;
    color: white;
}




/* competences*/

#mesCompetences
{
   background-color: white;
   display: flex;
   width: 100%;
   padding-top: 150px;
}

#mesComp
{
    width: 30%;
    margin: 0 10%;
    margin-bottom: 30px;
}


#titreComp
{
    width: 450px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: -100px ;
}

#titreComp>h1
{
    font-size: 2.2em;
    text-align: center;
}
#titreComp>p
{
    text-align: center;
    font-size: 1em;
}

#mesComp>h2
{
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0;
}
#mesComp>h3
{
    font-size: 1.1em;
    font-weight: bold;
}
#mesComp>progress
{
    width: 100%;
    height: 10px;
} 
#mesComp>progress::-moz-progress-bar
{
    background-color: var(--charte2_5);
} 

#cv
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#cv>img
{
   width: 60%;
   height: 600px;
   object-fit: contain;
}
#cv>a
{
    width: 150px;
    margin: 30px 0;
}


/*citation*/
#citation
{
    background-image: u;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(./images/fonds/fond_noir.jpg);
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#citation>article
{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#citation>article>q
{
    color: white;
    line-height: 25px;
    font-size: 1.1em;
    font-style: italic;
}

#citation>article>p
{
    color: lightgray;
    margin-top: 15px;
    font-size: 1.5em;
}




/*PROJETS*/

#projets
{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
#projets>nav
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 80px 10%;
    padding: 10px 20px;
    background-color: var(--charte2_5);
    
}
.btnNav
{
    background-color: var(--charte2_4);
    
    height: 40px;
    list-style: none;
    border-radius: 25px;
    font-size: 1.2em;
    color: black;
}

.btnNav:active
{
    color: white;
}

#projets>h2
{
    margin: 30px 0;
}

#btnNav1
{
    color: var(--charte2_4);
    background: var(--charte2_5);
}
.comp
{
    display: none;
    
    flex-direction: column;
    align-items: center;

    width: 80%;
    height: 700px;
    background-color: var(--charte1_3);
    border-radius: 30px;
}
#comp1
{
    display: flex;
}



.comp>div
{
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin: 25px;
    width: 80%;
}
.comp>div>img
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-right: 15px;
}
.comp>div>div
{
    background-color: var(--charte1_1);
    border-radius: 20px;
    width: 80%;
}
.comp>div>div>p
{
    text-align: justify;
    width: 90%;
    margin: 10px 5%;
}
.compInfo
{
    display: flex;
    width: 90%;
    margin: 15px 5%;
}
.compInfo>p
{
    text-align: left;
    width: 30%;
}
.compInfo>p:first-child
{
    margin-right: 40%;
}
.comp>div>div>button
{
    margin: 20px;
}






.comp button
{
    background-color: var(--charte1_2);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s;
}

.comp button:hover
{
    background-color: white;
    color: black;
}











.popeur
{
    display: none;
    /* display: flex; */

    align-items: center;
    justify-content: center;
    position: fixed;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vmax;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.popupForm
{
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--charte1_4);
/* 
    position: fixed;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    margin: 0;
    padding: 20px;
    width: 760px;
    height: 710px;

    border: solid black 1px;
    border-radius: 10px;
}

.topPopup
{
    color: White;
    text-shadow: 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black, -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black;
}

.croix
{
    position: fixed;
    top: 10px;
    right: 10px;
}
.centrePopup
{
    display: flex;
    margin-top: 20px;
    width: 760px;
    height: 600px;
    background-color: var(--charte1_1);
    border-radius: 20px;
}

/* .popupForm>div::-webkit-scrollbar
{
    display: none;
} */

.popGauche
{
    width: 44%;
    text-align: justify;
    margin: 0 3%;
    font-size: 1em;
}
.popGauche>img
{
    width: 100%;
    margin: 15px 0;
    border: solid 3px var(--charte1_4);
    border-radius: 15px;
}

.popDroite
{
    width: 44%;
    font-size: 16px;
    text-align: justify;
    margin: 0 3%;
}



/* ul, ol
{
    margin-left: 20px;
    text-align: left;
} */

.btnBas
{
    margin: 7px;
    margin-bottom: -2px;
    width: 760px;
}
.popDroite>div
{
    margin: 20px 0;
}

.popDroite>div>h3
{
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0;
    text-align: start;
}


.popDroite>div>ul>li, .popDroite>div>p
{
    font-size: 1em;
}


/******************
       Footer
******************/



footer
{
    padding-top: 30px;
    text-align: center;
    background-color: var(--charte1_5);
}