*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}



/**************
    HEADER
**************/
header>a>section
{
    height: 100vh;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/fonds/fond2.jpg);
    
    background-size: cover;
}

#PPheader
{
    border-radius: 100%;
    width: 250px;
    margin-bottom: 20px;
}

header>a>section>div
{
    padding: 3px 20px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    border-radius: 20px;
    text-align: center;

}




/**************
    MAIN
**************/

#sec1
{
    height: 100vh;
    background-color: rgb(36, 24, 59);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    
}

/*informations*/

#infos
{
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#PPmain
{
    border-radius: 100%;
    width: 250px;
}
#infos>div
{
    display: flex;
    background-color: rgb(49, 75, 97);
    width: 600px;
    border-radius: 20px;
    height: 250px;
    padding: 10px;
    margin-left: 10px;
}
#infos>div>div
{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#competences>div
{
    display: flex;
    flex-direction: row;
}
#competences>div>figure
{

    padding-right: 20px;
}



#infos>div>div>p
{
    line-height: 25px;
    text-align: left;
    margin-left: 30px;
    height: 50%;
}
#infos>div>div>p>a
{
    line-height: 10px;
    margin-left: 10px;
}

.icones
{
     margin-left: -25px;
    width: 15px;
}
.icones_comp
{
    height: 35px;
    width: 35px;
}



#presentation
{
    background-color: rgb(49, 49, 49);
    padding: 20px;
    width: 760px;
    /* height: 200px; */
    border-radius: 20px;
    line-height: 25px;
}




/*PROJETS*/

#projets
{
    background-color: rgb(36, 24, 59);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projets>nav
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px 5%;
    padding: 15px;
    background-color: blueviolet;
    border-radius: 35px;
    
}
#projets>nav>a
{
    background-color: rgb(96, 30, 157);
    width: 10%;
    list-style: none;
    border-radius: 25px;
    font-size: 14px;
}
#projets>nav>a>li
{
    line-height: 30px;
}
#projets>h2
{
    margin-bottom: 30px;
}


#comp1
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    background-color: darkorchid;
    border-radius: 30px;
}
#comp1>h2
{

}
#comp1>p
{

}
#comp1>div
{
    display: flex;
    justify-content: center;
    margin: 25px;
    width: 80%;
}
#comp1>div>a>img
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
#comp1>div>div
{
    background-color: darkmagenta;
    border-radius: 20px;
}
#comp1>div>div>p
{
    text-align: justify;
    width: 90%;
    margin: 10px 5%;
}
#comp1>div>div>div
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 15px 5%;
}
