*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
    --charte1_1 : #BDD9F2;
    --charte1_2 : #0597F2;
    --charte1_3 : #77C3F2;
    --charte1_4 : #05AFF2;
    --charte1_5 : #D8EBF2;

    --charte2_1 : #022340;
    --charte2_2 : #0788D9;
    --charte2_3 : #0568A6;
    --charte2_4 : #07B2D9;
    --charte2_5 : #07D9D9;

}

body
{
    background-color: var(--charte1_5) ; 
}
header
{
    position: fixed;
}
header>a>img
{
    width: 40px;
}
h1
{
    text-align: center;
}
section
{
    background-color: var(--charte1_3);
    width: 70%;
    margin: 0 10%;
    border-radius: 50px;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
}
#index>img
{
    border-radius: 30px;
    width: 500px;
}
#index
{
    display: flex;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--charte1_1);
}
#index>div
{
    padding: 10px 50px;
}


ul, ol
{
    padding-left: 20px;
}
.etape
{
    padding: 20px;
    border-radius: 20px;
    background-color: var(--charte1_1);
    margin: 20px 0;
}
.etape>h2
{
    text-align: center;
}